@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    color: #000;
    font-weight: 500;
    background: url(Fundo.png) no-repeat;
    background-size: cover;
}

.c{
    display: flex;
    gap:10px;
      flex-wrap: nowrap;
}

h1{
    padding: 20px;
    text-align: center;
    font-size: 35px;
    margin-top: 70px;
}

.adicionar {
    justify-content: center;
    display: flex;
    gap: 10px; 
    align-items: center;
}

.adicionar label {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.tipo{
    font-weight: bold; 
    border: none;
}

.botao {
    display: inline-block;
    text-align: center;
    margin-top: 23px;
}

.botao input[type="submit"] {
    padding: 3px 15px; 
    font-size: 15px; 
    color: #fff;
    background: linear-gradient(90deg, #9D785C, #a57754);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.botao input[type="submit"]:hover {
    background: linear-gradient(90deg, #F3D499, #ffe7ba);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    color: #000;
}

.botao input[type="submit"]:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2{
    padding: 20px;
    text-align: center;
    font-size: 35px; 
    margin-top: 20px;
}